@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-clr: #040303;
    --sec-clr: #461111;
    --btn-clr: #A13333;
    --txt-clr:#B3541E;
    --btn-hvr-clr: #c84040;
}

html {
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
    max-width: 1440px;
    background-color: var(--main-clr);
}

.navbar .logo h1{
    font-size: 26px;
    color: var(--txt-clr);
}
.navbar .links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
}
.navbar .links a{
    font-weight: 400;
    text-decoration: none;
    color: var(--txt-clr);
}
.navbar .links button{
    padding: 4px 15px;
    display: flex;
    align-items: center;
    background-color: var(--btn-clr);
    color: white;
    border: none;
    border-radius: 10px;
    gap: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.navbar .links button:hover{
    background-color: var(--btn-hvr-clr);
}


.main1{
    min-height: 70vh;
    min-width: 100%;
    background-image: url('./assets/man-wearing-t-shirt-gesturing.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.main1  .hero-text{
    background-color: #b3551ec4;
    max-width: 1300px;
    min-height: 70vh;
    align-items: center;
    text-align: center;
    padding: 7rem;
}
.main1 .hero-text p{
    font-size: 20px;
    margin-bottom: 20px;
}
.main1 .hero-text h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.main1 .hero-text button{
    padding: 4px 15px;
    background-color: var(--sec-clr);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.2s;
    cursor: pointer;
}
.main1 .hero-text button:hover{
    background-color: var(--btn-hvr-clr);
}
