@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root{
    --main-clr: #040303;
    --sec-clr: #461111;
    --btn-clr: #A13333;
    --txt-clr:#B3541E;
    --btn-hvr-clr: #c84040;
}

html {
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
    max-width: 1440px;
    background-color: var(--main-clr);
}

.navbar .logo h1{
    font-size: 26px;
    color: var(--txt-clr);
}
.navbar .links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}
.navbar .links a{
    font-weight: 400;
    text-decoration: none;
    color: var(--txt-clr);
}
.navbar .links button{
    padding: 4px 15px;
    display: flex;
    align-items: center;
    background-color: var(--btn-clr);
    color: white;
    border: none;
    border-radius: 10px;
    gap: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.navbar .links button:hover{
    background-color: var(--btn-hvr-clr);
}


.main1{
    min-height: 70vh;
    min-width: 100%;
    background-image: url('./assets/man-wearing-t-shirt-gesturing.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.main1  .hero-text{
    
    max-width: 1300px;
    min-height: 70vh;
    align-items: center;
    text-align: center;
    padding: 7rem;
}
.main1 .hero-text p{
    font-size: 20px;
    margin-bottom: 20px;
}
.main1 .hero-text h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.main1 .hero-text a{
    padding: 4px 15px;
    background-color: var(--sec-clr);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.2s;
    cursor: pointer;
}
.main1 .hero-text a:hover{
    background-color: var(--btn-hvr-clr);
}

footer{
    min-height: 40vh;
    max-width: 1440px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--main-clr);
    color: var(--txt-clr);
}
footer .footer-logo{
    font-size: 18px;
}
footer .works{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
footer .works a{
    color: var(--txt-clr);
    transition: all 0.3s;
}
footer .works a:hover{
    transform: translateX(10px);
    color: var(--btn-hvr-clr);
}

footer .socials{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
footer .socials a{
    color: var(--txt-clr);
    transition: all 0.3s;
}
footer .socials a:hover{
    transform: translateX(10px);
    color: var(--btn-hvr-clr);
}

footer h4{
    color: var(--btn-clr);
}


@media (max-width:600px) {
    .navbar .logo h1{
        font-size: 18px;
    }
    .navbar .links{
        font-size: 14px;
    }
    .navbar .links a{
        margin-bottom: 5px;
    }
    .navbar .links button{
        padding: 0px 19px;
        margin-bottom: 5px;

    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        gap: 2rem;
    }
    footer .works{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .socials{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


.main1 .box{
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.858);
    /* padding: 5rem; */
    display: flex;
    flex-direction: row;
    z-index: inherit;  
    align-items: center;
    justify-content: center;
}
.box form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#popupbox{
    display: none;
    padding: 5rem;
}
.box form h3{
    color: var(--txt-clr);
}